html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.content {
    padding: 0 0.938rem;
    margin: 0 auto;
    min-width: 37.5rem;
    width: 60%
}

/**
 * Navigation Section
 */
.top-navigation {
    background-color: #fff;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #DDD;
    z-index: 9999;
}
.top-navigation > .content {
    height: 4.375rem;
}
.top-navigation .logo {
    height: 4.375rem;
}

.top-navigation .links {
    float: right;
    font-family: 'Roboto', sans-serif;
    color: #838994;
    font-size: 16px;
    margin-top: 25px;
    -webkit-font-smoothing: antialiased;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 25px;
}
.top-navigation .links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}
.masthead{
    padding: 6em 0;
    background-image: url('http://thinkful-ed.github.io/karma-clone/img/first-background.jpg');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    width: 100%;
    overflow: auto;

}
.masthead h1{
    margin-top: 17.5rem;
    font-size: 3.125rem;
}
.masthead h1,
.masthead h3{
    color: white;
    text-align: center;
    font-weight: 300;
}
.masthead h3{
    margin-top: 1.25rem;
    font-size: 1.563rem;
}
.masthead .buttons{
color: white;
text-align: center;
margin-top: 1.563rem;
}
button{    
    width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
    

}
#learnmore{
    color: white;
    background-color:orange;
}